### Import Libraries

In [205]:
import numpy as np 
import random  
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [206]:
data= pd.read_csv('C:/Users/ADITYA/Documents/GitHub/Technocolab Final Project/datasets/final combined file/ConsolidateOutput.csv')

### Data Cleaning

In [207]:
data.shape

(2973371, 15)

In [208]:
# Checking Type of each field 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2973371 entries, 0 to 2973370
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   external_author_id  float64
 1   author              object
 2   content             object
 3   region              object
 4   language            object
 5   publish_date        object
 6   harvested_date      object
 7   following           int64
 8   followers           int64
 9   updates             int64
 10  post_type           object
 11  account_type        object
 12  new_june_2018       int64
 13  retweet             int64
 14  account_category    object
dtypes: float64(1), int64(5), object(9)
memory usage: 340.3+ MB

In [209]:
# Checking missing Values
data.isna().sum().sort_values(ascending=False)

post_type             1662425
region                   8843
account_type              363
external_author_id          4
content                     1
account_category            0
retweet                     0
new_june_2018               0
updates                     0
followers                   0
following                   0
harvested_date              0
publish_date                0
language                    0
author                      0
dtype: int64

In [210]:
# Removing 1 content row 
data.dropna(subset = ['content'], inplace=True)
# Again Checking of missing values
data.isna().sum().sort_values(ascending=False)

post_type             1662424
region                   8843
account_type              363
external_author_id          4
account_category            0
retweet                     0
new_june_2018               0
updates                     0
followers                   0
following                   0
harvested_date              0
publish_date                0
language                    0
content                     0
author                      0
dtype: int64

In [211]:
data.shape

(2973370, 15)

In [212]:
# Dropping un-necessary Columns
df = data.drop(['external_author_id', 'harvested_date'], axis=1)
df.head()

,author,content,region,language,publish_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,1052,9636,253,NaN,Right,0,0,RightTroll
1,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [213]:
# languages of tweets
df.language.value_counts(normalize=True)

English                7.160098e-01
Russian                2.099046e-01
German                 2.931724e-02
Ukrainian              1.323784e-02
Italian                6.139162e-03
Serbian                3.233705e-03
Uzbek                  3.192001e-03
Bulgarian              3.180902e-03
LANGUAGE UNDEFINED     2.799853e-03
Arabic                 2.554341e-03
Macedonian             1.769036e-03
French                 1.537649e-03
Spanish                1.057722e-03
Norwegian              7.573898e-04
Farsi (Persian)        5.666970e-04
Romanian               5.485358e-04
Dutch                  3.924839e-04
Swedish                3.433814e-04
Vietnamese             3.329555e-04
Estonian               2.593017e-04
Japanese               2.576201e-04
Catalan                1.984280e-04
Finnish                1.954012e-04
Albanian               1.923743e-04
Croatian               1.836300e-04
Icelandic              1.678230e-04
Pushto                 1.641235e-04
Portuguese             1.563882e-04
Turkish                1.496618e-04
Lithuanian             1.402449e-04
Polish                 1.298190e-04
Somali                 9.316029e-05
Slovak                 8.744287e-05
Tagalog (Filipino)     8.071649e-05
Kurdish                7.970754e-05
Malay                  7.937122e-05
Latvian                7.365380e-05
Hungarian              6.457319e-05
Czech                  6.255528e-05
Greek                  6.255528e-05
Indonesian             5.650155e-05
Korean                 3.564978e-05
Danish                 3.060500e-05
Hindi                  2.959605e-05
Hebrew                 2.253335e-05
Slovenian              2.085176e-05
Urdu                   1.984280e-05
Thai                   1.278011e-05
Simplified Chinese     7.062693e-06
Traditional Chinese    3.699506e-06
Tamil                  3.026869e-06
Gujarati               2.017912e-06
Telugu                 6.726374e-07
Bengali                6.726374e-07
Malayalam              3.363187e-07
Kannada                3.363187e-07
Name: language, dtype: float64

In [214]:
### So 71.6% of tweets are in English, so it's better to remove other languages tweets
# df which contain only english tweets
df = df.loc[df.language == 'English']
print(df.shape)
df.drop(['language'], axis = 1, inplace = True)
df.head()

(2128962, 13)

,author,content,region,publish_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,10/1/2017 19:58,1052,9636,253,NaN,Right,0,0,RightTroll
1,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,10/1/2017 22:50,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [215]:
# Checking the Unique region
df.region.unique()

array(['Unknown', 'United States', 'Italy', nan, 'United Arab Emirates',
       'Israel', 'Azerbaijan', 'United Kingdom', 'Russian Federation',
       'Iraq', 'Germany', 'France', 'Ukraine', 'Serbia', 'Egypt',
       'Hong Kong', 'Belarus', 'Malaysia', 'Afghanistan', 'Mexico',
       'Canada', 'Iran, Islamic Republic of', 'Greece', 'Czech Republic',
       'Finland', 'Latvia', 'Spain', 'Sweden', 'Denmark', 'Switzerland'],
      dtype=object)

In [216]:
# Region of tweets
df.region.value_counts(normalize=True)

United States                8.692881e-01
Unknown                      1.160504e-01
United Kingdom               7.831501e-03
Azerbaijan                   3.578315e-03
Germany                      6.039053e-04
Russian Federation           5.385802e-04
Italy                        5.287109e-04
Canada                       2.819791e-04
Belarus                      2.321628e-04
Afghanistan                  2.166540e-04
Iraq                         2.157140e-04
Israel                       1.922158e-04
United Arab Emirates         1.743571e-04
Ukraine                      1.085620e-04
Spain                        3.383750e-05
France                       3.148767e-05
Egypt                        2.772795e-05
Sweden                       2.020850e-05
Mexico                       1.926857e-05
Iran, Islamic Republic of    9.399305e-06
Greece                       6.579513e-06
Finland                      3.759722e-06
Malaysia                     1.879861e-06
Latvia                       1.409896e-06
Czech Republic               9.399305e-07
Serbia                       9.399305e-07
Switzerland                  4.699652e-07
Denmark                      4.699652e-07
Hong Kong                    4.699652e-07
Name: region, dtype: float64

In [217]:
# so, approx. 87% of tweets are from US
#update data to only contain US tweets
df = df.loc[df.region == 'United States']
print(df.shape)
# dropping remaining tweets
df.drop(['region'], axis = 1, inplace = True)
df.head()

(1849686, 12)

,author,content,publish_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
425,1D_NICOLE_,#FoodPoisoning is not a joke! #Walmart #KochFa...,11/26/2015 22:20,48,40,394,RETWEET,Koch,0,1,Fearmonger
426,1D_NICOLE_,Thanks God that #turkey i ate few days ago was...,11/26/2015 22:35,48,40,395,RETWEET,Koch,0,1,Fearmonger
428,1D_NICOLE_,"who's got the worst make up ever, don't tell m...",5/25/2015 12:38,59,51,352,NaN,Koch,0,0,Fearmonger
429,1D_NICOLE_,"I hurt easy, I just don't show it. You can hur...",5/25/2015 12:38,59,51,354,NaN,Koch,0,0,Fearmonger
430,1D_NICOLE_,« The young are permanently in a state resembl...,5/25/2015 12:39,59,51,356,NaN,Koch,0,0,Fearmonger

In [218]:
#review nan values again
df.isna().sum().sort_values(ascending = False)

post_type           1027093
account_type            354
account_category          0
retweet                   0
new_june_2018             0
updates                   0
followers                 0
following                 0
publish_date              0
content                   0
author                    0
dtype: int64

In [219]:
df.account_type.unique()

array(['Koch', 'Right', 'left', 'Russian', '?', 'Hashtager', 'Arabic',
       'Commercial', 'local', 'German', 'ZAPOROSHIA', 'news', 'right',
       'Ebola ', nan, 'French'], dtype=object)

There are two different 'Right' and 'right', 'news'and 'News' and so on. Similarly other things also so we also replace:
- 'right' with 'Right'
- 'left' with 'Left'
- '?' with 'Unknown'
- 'local' with 'Local'
- 'news' with 'News'
- 'ZAPOROSHIA' with 'Zaporoshia'

In [220]:
# Updating Acccount Type
df['account_type'].fillna(value='Unknown', inplace = True)

df['account_type'].replace({'?': 'Unknown', 'right': 'Right', 
                            'left': 'Left', 'news': 'News', 
                           'local': 'Local', 'ZAPOROSHIA': 'Zaporoshia'}, 
                           inplace = True)

df.account_type.unique()

array(['Koch', 'Right', 'Left', 'Russian', 'Unknown', 'Hashtager',
       'Arabic', 'Commercial', 'Local', 'German', 'Zaporoshia', 'News',
       'Ebola ', 'French'], dtype=object)

In [221]:
df.isna().sum().sort_values(ascending = False)

post_type           1027093
account_category          0
retweet                   0
new_june_2018             0
account_type              0
updates                   0
followers                 0
following                 0
publish_date              0
content                   0
author                    0
dtype: int64

In [222]:
df.post_type.unique()

array(['RETWEET', nan, 'QUOTE_TWEET'], dtype=object)

In [223]:
# Replace 'nan' with 'no_action' i.e neither 'retweeted' nor 'quote_tweet'
df['post_type'].fillna(value='NO_ACTION', inplace = True)
df.post_type.unique()

array(['RETWEET', 'NO_ACTION', 'QUOTE_TWEET'], dtype=object)

In [224]:
df.isna().sum().sort_values(ascending = False)

account_category    0
retweet             0
new_june_2018       0
account_type        0
post_type           0
updates             0
followers           0
following           0
publish_date        0
content             0
author              0
dtype: int64

So, FInally no NaN values are there.

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1849686 entries, 425 to 2973153
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   author            object
 1   content           object
 2   publish_date      object
 3   following         int64
 4   followers         int64
 5   updates           int64
 6   post_type         object
 7   account_type      object
 8   new_june_2018     int64
 9   retweet           int64
 10  account_category  object
dtypes: int64(5), object(6)
memory usage: 169.3+ MB

In [226]:
df['publish_date'].head()

425    11/26/2015 22:20
426    11/26/2015 22:35
428     5/25/2015 12:38
429     5/25/2015 12:38
430     5/25/2015 12:39
Name: publish_date, dtype: object

In [227]:
# df['publish_date'] = pd.to_datetime(df['publish_date']).dt.date
# df['publish_date'].head()

In [228]:
df['publish_date'] = pd.to_datetime(df['publish_date'])

In [229]:
df['Month'] = df['publish_date'].dt.month
df['day'] = df['publish_date'].dt.day
df['year'] = df['publish_date'].dt.year

In [230]:
df['publish_date'].head()

425   2015-11-26 22:20:00
426   2015-11-26 22:35:00
428   2015-05-25 12:38:00
429   2015-05-25 12:38:00
430   2015-05-25 12:39:00
Name: publish_date, dtype: datetime64[ns]

In [231]:
# from datetime import datetime
# df['date'] = datetime(df['publish_date']).day
# df['month'] = datetime(df['publish_date']).month
# df['year'] = datetime(df['publish_date']).year

In [232]:
df.head()

,author,content,publish_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category,Month,day,year
425,1D_NICOLE_,#FoodPoisoning is not a joke! #Walmart #KochFa...,2015-11-26 22:20:00,48,40,394,RETWEET,Koch,0,1,Fearmonger,11,26,2015
426,1D_NICOLE_,Thanks God that #turkey i ate few days ago was...,2015-11-26 22:35:00,48,40,395,RETWEET,Koch,0,1,Fearmonger,11,26,2015
428,1D_NICOLE_,"who's got the worst make up ever, don't tell m...",2015-05-25 12:38:00,59,51,352,NO_ACTION,Koch,0,0,Fearmonger,5,25,2015
429,1D_NICOLE_,"I hurt easy, I just don't show it. You can hur...",2015-05-25 12:38:00,59,51,354,NO_ACTION,Koch,0,0,Fearmonger,5,25,2015
430,1D_NICOLE_,« The young are permanently in a state resembl...,2015-05-25 12:39:00,59,51,356,NO_ACTION,Koch,0,0,Fearmonger,5,25,2015

Now, Data is ready for Exploration.

In [233]:
df.post_type.value_counts()

NO_ACTION      1027093
RETWEET         794667
QUOTE_TWEET      27926
Name: post_type, dtype: int64

In [234]:
d={'NO_ACTION':0,'RETWEET':1,'QUOTE_TWEET':2}
df.post_type=df.post_type.map(d)

In [235]:
df.post_type.value_counts()

0    1027093
1     794667
2      27926
Name: post_type, dtype: int64

In [236]:
df.account_type.value_counts()

Right         497945
Local         451298
Left          416253
Hashtager     228104
News          123396
Commercial    112051
Koch           10677
Unknown         6165
Russian         3242
German           260
Zaporoshia       172
Ebola             70
Arabic            49
French             4
Name: account_type, dtype: int64

In [237]:
df.account_category.value_counts()

NewsFeed        574694
RightTroll      497945
LeftTroll       416253
HashtagGamer    228104
Commercial      112051
Fearmonger       10919
Unknown           6165
NonEnglish        3555
Name: account_category, dtype: int64

In [238]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [239]:
df.account_category=le.fit_transform(df.account_category)
df.account_type=le.fit_transform(df.account_type)

In [240]:
df.author=le.fit_transform(df.author)

In [241]:
df.head()

,author,content,publish_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category,Month,day,year
425,0,#FoodPoisoning is not a joke! #Walmart #KochFa...,2015-11-26 22:20:00,48,40,394,1,6,0,1,1,11,26,2015
426,0,Thanks God that #turkey i ate few days ago was...,2015-11-26 22:35:00,48,40,395,1,6,0,1,1,11,26,2015
428,0,"who's got the worst make up ever, don't tell m...",2015-05-25 12:38:00,59,51,352,0,6,0,0,1,5,25,2015
429,0,"I hurt easy, I just don't show it. You can hur...",2015-05-25 12:38:00,59,51,354,0,6,0,0,1,5,25,2015
430,0,« The young are permanently in a state resembl...,2015-05-25 12:39:00,59,51,356,0,6,0,0,1,5,25,2015

In [242]:
df=df.drop(['publish_date'],axis=1)

In [243]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [244]:
x=df.drop(['account_category','content','account_type'],axis=1)
y=df['account_category']

In [245]:
xtrn,xte,ytrn,yte=train_test_split(x,y,test_size=0.30)
xtrn,xval,ytrn,yval=train_test_split(xtrn,ytrn,test_size=0.30)

In [246]:
rf=RandomForestClassifier(n_estimators=100)
rf.fit(xtrn,ytrn)

RandomForestClassifier()

In [247]:
y_pred=rf.predict(xval)

In [248]:
report=classification_report(y_pred,yval)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     23394
           1       1.00      1.00      1.00      2311
           2       1.00      1.00      1.00     47545
           3       1.00      1.00      1.00     87706
           4       1.00      1.00      1.00    120638
           5       0.97      1.00      0.99       724
           6       1.00      1.00      1.00    104859
           7       0.98      1.00      0.99      1257

    accuracy                           1.00    388434
   macro avg       0.99      1.00      1.00    388434
weighted avg       1.00      1.00      1.00    388434

In [249]:
yval.values,y_pred

(array([4, 3, 4, ..., 4, 2, 4]), array([4, 3, 4, ..., 4, 2, 4]))

In [250]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(xtrn,ytrn)

C:\Users\ADITYA\miniconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:34:15] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [251]:
y_pre=xgb.predict(xval)

In [252]:
report=classification_report(y_pre,yval)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     23394
           1       1.00      0.99      1.00      2325
           2       1.00      1.00      1.00     47511
           3       1.00      1.00      1.00     87665
           4       1.00      1.00      1.00    120640
           5       0.97      1.00      0.99       722
           6       1.00      1.00      1.00    104932
           7       0.97      1.00      0.98      1245

    accuracy                           1.00    388434
   macro avg       0.99      1.00      1.00    388434
weighted avg       1.00      1.00      1.00    388434

In [253]:
yval.values,y_pre

(array([4, 3, 4, ..., 4, 2, 4]), array([4, 3, 4, ..., 4, 2, 4]))