In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
df1=pd.read_csv('C:/Users/ADITYA/Documents/GitHub/Technocolab Final Project/datasets/IRAhandle_tweets_1.csv')

In [4]:
df1.shape

(381016, 15)

In [5]:
#no. of raws of all the files
#381016+397232+368885+388452+331821+324512+365603+378295+37555

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381016 entries, 0 to 381015
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  381016 non-null  float64
 1   author              381016 non-null  object
 2   content             381016 non-null  object
 3   region              380698 non-null  object
 4   language            381016 non-null  object
 5   publish_date        381016 non-null  object
 6   harvested_date      381016 non-null  object
 7   following           381016 non-null  int64
 8   followers           381016 non-null  int64
 9   updates             381016 non-null  int64
 10  post_type           197250 non-null  object
 11  account_type        381016 non-null  object
 12  new_june_2018       381016 non-null  int64
 13  retweet             381016 non-null  int64
 14  account_category    381016 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 43.6+ MB

In [7]:
# Croot = "C:/Users/ADITYA/Documents/GitHub/Technocolab Final Project/datasets/"
# for path, subdirs, files in os.walk(root):
#     for name in files:
#         print(os.path.join(path, name))

In [8]:
from os import chdir
from glob import glob
import pandas as pdlib

# Move to the path that holds our CSV files
csv_file_path = 'C:/Users/ADITYA/Documents/GitHub/Technocolab Final Project/datasets/'
chdir(csv_file_path)

In [9]:
# List all CSV files in the working dir
file_pattern = "csv"
list_of_files = [file for file in glob('*.{}'.format(file_pattern))]
print(list_of_files)

['IRAhandle_tweets_1.csv', 'IRAhandle_tweets_2.csv', 'IRAhandle_tweets_3.csv', 'IRAhandle_tweets_4.csv', 'IRAhandle_tweets_5.csv', 'IRAhandle_tweets_6.csv', 'IRAhandle_tweets_7.csv', 'IRAhandle_tweets_8.csv', 'IRAhandle_tweets_9.csv']

In [10]:
# def produceOneCSV(list_of_files, file_out):
#     # Consolidate all CSV files into one object
#     result_obj = pdlib.concat([pdlib.read_csv(file) for file in list_of_files])
#     # Convert the above object into a csv file and export
#     # result_obj.to_csv(file_out, index=False, encoding="utf-8")
#     return result_obj
# file_out = "ConsolidateOutput.csv"
# produceOneCSV(list_of_files, file_out)

In [17]:
# Consolidate all CSV files into one object
result_obj = pdlib.concat([pdlib.read_csv(file) for file in list_of_files])
df=pd.DataFrame(result_obj)

In [18]:
df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37550,3.093874e+09,_YOUR_LIFESTYLE,Санкционный пинг-понг http://t.co/Jz06cndR8q,Unknown,Uzbek,9/7/2015 1:31,9/7/2015 1:31,60,4,412,NaN,Russian,0,0,NonEnglish
37551,3.093874e+09,_YOUR_LIFESTYLE,Горизонтальный кальян NanoSmoke http://t.co/rL...,Unknown,Russian,9/8/2015 14:49,9/8/2015 14:49,60,4,416,NaN,Russian,0,0,NonEnglish
37552,3.093874e+09,_YOUR_LIFESTYLE,Фотограф Kai-Hendrik Schroeder http://t.co/q0x...,Unknown,Russian,9/9/2015 18:52,9/9/2015 18:52,60,4,418,NaN,Russian,0,0,NonEnglish
37553,3.093874e+09,_YOUR_LIFESTYLE,К чему стремится компания Netflix (США) http:/...,Unknown,Russian,9/9/2015 22:26,9/9/2015 22:27,60,4,419,NaN,Russian,0,0,NonEnglish
37554,3.093874e+09,_YOUR_LIFESTYLE,В Петербурге появилось вегетарианское кафе в к...,Unknown,Russian,9/9/2015 8:17,9/9/2015 8:17,60,4,417,NaN,Russian,0,0,NonEnglish

In [19]:
df.isna().sum().sort_values(ascending=False)

post_type             1662425
region                   8843
account_type              363
external_author_id          4
content                     1
account_category            0
retweet                     0
new_june_2018               0
updates                     0
followers                   0
following                   0
harvested_date              0
publish_date                0
language                    0
author                      0
dtype: int64

In [20]:
df.account_category.value_counts()

NonEnglish      837725
RightTroll      719087
NewsFeed        599294
LeftTroll       427811
HashtagGamer    241827
Commercial      122582
Unknown          13905
Fearmonger       11140
Name: account_category, dtype: int64

In [21]:
only_eng_df = df[df['language']=='English']

In [23]:
only_eng_df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36991,3.093874e+09,_YOUR_LIFESTYLE,Like me. Share me. Follow me http://t.co/VvhUO...,Unknown,English,10/8/2015 15:01,10/8/2015 15:01,59,13,458,NaN,Russian,0,0,NonEnglish
37053,3.093874e+09,_YOUR_LIFESTYLE,.the main thing is to was love https://t.co/oq...,Unknown,English,11/4/2015 8:24,11/4/2015 8:25,68,23,518,NaN,Russian,0,0,NonEnglish
37337,3.093874e+09,_YOUR_LIFESTYLE,Amazing! Found my script: Download ReBuild - W...,United States,English,6/25/2016 11:27,6/25/2016 11:28,40,40,817,NaN,Russian,0,0,NonEnglish
37410,3.093874e+09,_YOUR_LIFESTYLE,Present Perfect http://t.co/vNu3i2Xh4M,Unknown,English,7/31/2015 18:35,7/31/2015 18:36,59,4,305,NaN,Russian,0,0,NonEnglish
37431,3.093874e+09,_YOUR_LIFESTYLE,GoPro SummerStory http://t.co/2afDrn7jWh,Unknown,English,8/13/2015 11:19,8/13/2015 11:20,60,4,344,NaN,Russian,0,0,NonEnglish