In [1]:
%autosave 10

Autosaving every 10 seconds

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
import os
os.getcwd()
os.chdir('C:\\Users\\ADITYA\\Documents\\GitHub\\Technocolab Final Project\\datasets\\final combined file')

In [7]:
df = pd.read_csv('ConsolidateOutput.csv')

In [8]:
df.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [9]:
df.columns

Index(['external_author_id', 'author', 'content', 'region', 'language',
       'publish_date', 'harvested_date', 'following', 'followers', 'updates',
       'post_type', 'account_type', 'new_june_2018', 'retweet',
       'account_category'],
      dtype='object')

In [10]:
df['language'].value_counts()

English                2128963
Russian                 624124
German                   87171
Ukrainian                39361
Italian                  18254
Serbian                   9615
Uzbek                     9491
Bulgarian                 9458
LANGUAGE UNDEFINED        8325
Arabic                    7595
Macedonian                5260
French                    4572
Spanish                   3145
Norwegian                 2252
Farsi (Persian)           1685
Romanian                  1631
Dutch                     1167
Swedish                   1021
Vietnamese                 990
Estonian                   771
Japanese                   766
Catalan                    590
Finnish                    581
Albanian                   572
Croatian                   546
Icelandic                  499
Pushto                     488
Portuguese                 465
Turkish                    445
Lithuanian                 417
Polish                     386
Somali                     277
Slovak                     260
Tagalog (Filipino)         240
Kurdish                    237
Malay                      236
Latvian                    219
Hungarian                  192
Greek                      186
Czech                      186
Indonesian                 168
Korean                     106
Danish                      91
Hindi                       88
Hebrew                      67
Slovenian                   62
Urdu                        59
Thai                        38
Simplified Chinese          21
Traditional Chinese         11
Tamil                        9
Gujarati                     6
Bengali                      2
Telugu                       2
Malayalam                    1
Kannada                      1
Name: language, dtype: int64

In [11]:
## Dropping all those rows having language other than english
df = df[df['language'] == 'English']

In [12]:
df.drop(['language'],axis = 1,inplace=True)

In [13]:
df.shape

(2128963, 14)

In [14]:
df['account_type'].value_counts()

Right         711881
local         458985
left          422806
Hashtager     236132
news          138671
Commercial    113256
Russian        21871
Koch           10759
?               6948
German          3568
Italian         1845
Arabic          1030
right            464
ZAPOROSHIA       172
Spanish           79
Ebola             70
French            70
Portuguese         2
Name: account_type, dtype: int64

In [15]:
## Dropping those rows whose account type is not known
df = df[df['account_type'] != '?']

In [16]:
## renaming all the values with 'Right' to 'right'
df.loc[df['account_type']=='Right','account_type']='right'

In [17]:
## Creating dummy variable for account type
df_account_type = pd.get_dummies(df['account_type'],prefix = 'account_type_',drop_first=True)

In [18]:
df = pd.concat([df,df_account_type],axis = 1)
df = df.drop(['account_type'], axis = 1)

In [19]:
df.columns

Index(['external_author_id', 'author', 'content', 'region', 'publish_date',
       'harvested_date', 'following', 'followers', 'updates', 'post_type',
       'new_june_2018', 'retweet', 'account_category',
       'account_type__Commercial', 'account_type__Ebola ',
       'account_type__French', 'account_type__German',
       'account_type__Hashtager', 'account_type__Italian',
       'account_type__Koch', 'account_type__Portuguese',
       'account_type__Russian', 'account_type__Spanish',
       'account_type__ZAPOROSHIA', 'account_type__left', 'account_type__local',
       'account_type__news', 'account_type__right'],
      dtype='object')

In [20]:
df['region'].value_counts()

United States                1843876
Unknown                       246390
United Kingdom                 16158
Azerbaijan                      7614
Germany                         1283
Russian Federation              1145
Italy                           1125
Canada                           600
Belarus                          484
Afghanistan                      461
Iraq                             459
Israel                           386
United Arab Emirates             371
Ukraine                          231
Spain                             72
France                            65
Egypt                             55
Mexico                            41
Iran, Islamic Republic of         20
Greece                            14
Finland                            8
Malaysia                           4
Latvia                             3
Czech Republic                     2
Serbia                             2
Hong Kong                          1
Name: region, dtype: int64

In [21]:
## Creating dummy variable for region
df_region = pd.get_dummies(df['region'],prefix = 'region_',drop_first=True)

In [22]:
df = pd.concat([df,df_region],axis = 1)
df = df.drop(['region'], axis = 1)

In [23]:
df['post_type'].value_counts()

RETWEET        817279
QUOTE_TWEET     35812
Name: post_type, dtype: int64

In [24]:
## Creating dummy variable for post type
df_post_type = pd.get_dummies(df['post_type'],prefix = 'post_type',drop_first=True)

In [25]:
df = pd.concat([df,df_post_type],axis = 1)
df = df.drop(['post_type'], axis = 1)

In [26]:
df['account_category'].value_counts()

RightTroll      712345
NewsFeed        597656
LeftTroll       422806
HashtagGamer    236132
Commercial      113256
NonEnglish       28465
Fearmonger       11001
Unknown            354
Name: account_category, dtype: int64

In [27]:
## Creating dummy variable for account category
df_account_cat = pd.get_dummies(df['account_category'],prefix = 'account_cat',drop_first=True)

In [28]:
df = pd.concat([df,df_account_cat],axis = 1)
df = df.drop(['account_category'], axis = 1)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2122015 entries, 0 to 2973247
Data columns (total 58 columns):
 #   Column                             Dtype
---  ------                             -----
 0   external_author_id                 float64
 1   author                             object
 2   content                            object
 3   publish_date                       object
 4   harvested_date                     object
 5   following                          int64
 6   followers                          int64
 7   updates                            int64
 8   new_june_2018                      int64
 9   retweet                            int64
 10  account_type__Commercial           uint8
 11  account_type__Ebola                uint8
 12  account_type__French               uint8
 13  account_type__German               uint8
 14  account_type__Hashtager            uint8
 15  account_type__Italian              uint8
 16  account_type__Koch                 uint8
 17  account_type__Portuguese           uint8
 18  account_type__Russian              uint8
 19  account_type__Spanish              uint8
 20  account_type__ZAPOROSHIA           uint8
 21  account_type__left                 uint8
 22  account_type__local                uint8
 23  account_type__news                 uint8
 24  account_type__right                uint8
 25  region__Azerbaijan                 uint8
 26  region__Belarus                    uint8
 27  region__Canada                     uint8
 28  region__Czech Republic             uint8
 29  region__Egypt                      uint8
 30  region__Finland                    uint8
 31  region__France                     uint8
 32  region__Germany                    uint8
 33  region__Greece                     uint8
 34  region__Hong Kong                  uint8
 35  region__Iran, Islamic Republic of  uint8
 36  region__Iraq                       uint8
 37  region__Israel                     uint8
 38  region__Italy                      uint8
 39  region__Latvia                     uint8
 40  region__Malaysia                   uint8
 41  region__Mexico                     uint8
 42  region__Russian Federation         uint8
 43  region__Serbia                     uint8
 44  region__Spain                      uint8
 45  region__Ukraine                    uint8
 46  region__United Arab Emirates       uint8
 47  region__United Kingdom             uint8
 48  region__United States              uint8
 49  region__Unknown                    uint8
 50  post_type_RETWEET                  uint8
 51  account_cat_Fearmonger             uint8
 52  account_cat_HashtagGamer           uint8
 53  account_cat_LeftTroll              uint8
 54  account_cat_NewsFeed               uint8
 55  account_cat_NonEnglish             uint8
 56  account_cat_RightTroll             uint8
 57  account_cat_Unknown                uint8
dtypes: float64(1), int64(5), object(4), uint8(48)
memory usage: 275.2+ MB

In [30]:
df['publish_date'] = df['publish_date'].str.split(" ").str[0]

In [31]:
df['harvested_date'] = df['harvested_date'].str.split(" ").str[0]

In [32]:
df.describe()

,external_author_id,following,followers,updates,new_june_2018,retweet,account_type__Commercial,account_type__Ebola,account_type__French,account_type__German,...,region__United States,region__Unknown,post_type_RETWEET,account_cat_Fearmonger,account_cat_HashtagGamer,account_cat_LeftTroll,account_cat_NewsFeed,account_cat_NonEnglish,account_cat_RightTroll,account_cat_Unknown
count,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,...,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06,2.122015e+06
mean,1.326816e+17,4.245750e+03,7.129396e+03,1.130610e+04,1.216005e-01,4.020193e-01,5.337191e-02,3.298751e-05,3.298751e-05,1.681421e-03,...,8.689269e-01,1.161113e-01,3.851429e-01,5.184223e-03,1.112773e-01,1.992474e-01,2.816455e-01,1.341414e-02,3.356927e-01,1.668226e-04
std,3.121020e+17,6.278860e+03,1.165244e+04,1.912406e+04,3.268239e-01,4.903059e-01,2.247741e-01,5.743382e-03,5.743382e-03,4.097065e-02,...,3.374803e-01,3.203585e-01,4.866292e-01,7.181469e-02,3.144752e-01,3.994345e-01,4.498015e-01,1.150400e-01,4.722322e-01,1.291491e-02
min,3.497640e+07,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.704305e+09,6.210000e+02,6.550000e+02,1.712000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.611151e+09,2.034000e+03,1.858000e+03,4.675000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,3.254274e+09,5.709000e+03,1.230000e+04,1.418000e+04,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
max,9.812510e+17,7.621000e+04,2.066860e+05,1.661130e+05,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2122015 entries, 0 to 2973247
Data columns (total 58 columns):
 #   Column                             Dtype
---  ------                             -----
 0   external_author_id                 float64
 1   author                             object
 2   content                            object
 3   publish_date                       object
 4   harvested_date                     object
 5   following                          int64
 6   followers                          int64
 7   updates                            int64
 8   new_june_2018                      int64
 9   retweet                            int64
 10  account_type__Commercial           uint8
 11  account_type__Ebola                uint8
 12  account_type__French               uint8
 13  account_type__German               uint8
 14  account_type__Hashtager            uint8
 15  account_type__Italian              uint8
 16  account_type__Koch                 uint8
 17  account_type__Portuguese           uint8
 18  account_type__Russian              uint8
 19  account_type__Spanish              uint8
 20  account_type__ZAPOROSHIA           uint8
 21  account_type__left                 uint8
 22  account_type__local                uint8
 23  account_type__news                 uint8
 24  account_type__right                uint8
 25  region__Azerbaijan                 uint8
 26  region__Belarus                    uint8
 27  region__Canada                     uint8
 28  region__Czech Republic             uint8
 29  region__Egypt                      uint8
 30  region__Finland                    uint8
 31  region__France                     uint8
 32  region__Germany                    uint8
 33  region__Greece                     uint8
 34  region__Hong Kong                  uint8
 35  region__Iran, Islamic Republic of  uint8
 36  region__Iraq                       uint8
 37  region__Israel                     uint8
 38  region__Italy                      uint8
 39  region__Latvia                     uint8
 40  region__Malaysia                   uint8
 41  region__Mexico                     uint8
 42  region__Russian Federation         uint8
 43  region__Serbia                     uint8
 44  region__Spain                      uint8
 45  region__Ukraine                    uint8
 46  region__United Arab Emirates       uint8
 47  region__United Kingdom             uint8
 48  region__United States              uint8
 49  region__Unknown                    uint8
 50  post_type_RETWEET                  uint8
 51  account_cat_Fearmonger             uint8
 52  account_cat_HashtagGamer           uint8
 53  account_cat_LeftTroll              uint8
 54  account_cat_NewsFeed               uint8
 55  account_cat_NonEnglish             uint8
 56  account_cat_RightTroll             uint8
 57  account_cat_Unknown                uint8
dtypes: float64(1), int64(5), object(4), uint8(48)
memory usage: 275.2+ MB

In [34]:
master = df.copy()

In [35]:
master.drop(['external_author_id','author','publish_date','harvested_date'],axis = 1,inplace=True)

In [36]:
master.head()

,content,following,followers,updates,new_june_2018,retweet,account_type__Commercial,account_type__Ebola,account_type__French,account_type__German,...,region__United States,region__Unknown,post_type_RETWEET,account_cat_Fearmonger,account_cat_HashtagGamer,account_cat_LeftTroll,account_cat_NewsFeed,account_cat_NonEnglish,account_cat_RightTroll,account_cat_Unknown
0,"""We have a sitting Democrat US Senator on tria...",1052,9636,253,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,Marshawn Lynch arrives to game in anti-Trump s...,1054,9637,254,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,Daughter of fallen Navy Sailor delivers powerf...,1054,9637,255,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
3,JUST IN: President Trump dedicates Presidents ...,1062,9642,256,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,"19,000 RESPECTING our National Anthem! #StandF...",1050,9645,246,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0

In [32]:
master.reset_index(inplace = True,drop = True)

In [33]:
master.head()

,content,following,followers,updates,new_june_2018,retweet,account_type__Commercial,account_type__Ebola,account_type__French,account_type__German,...,region__United States,region__Unknown,post_type_RETWEET,account_cat_Fearmonger,account_cat_HashtagGamer,account_cat_LeftTroll,account_cat_NewsFeed,account_cat_NonEnglish,account_cat_RightTroll,account_cat_Unknown
0,"""We have a sitting Democrat US Senator on tria...",1052,9636,253,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,Marshawn Lynch arrives to game in anti-Trump s...,1054,9637,254,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,Daughter of fallen Navy Sailor delivers powerf...,1054,9637,255,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
3,JUST IN: President Trump dedicates Presidents ...,1062,9642,256,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,"19,000 RESPECTING our National Anthem! #StandF...",1050,9645,246,0,1,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0

In [37]:
neg_label = master.sample(frac = 12e-3)

In [38]:
neg_label.reset_index(inplace = True,drop = True)

In [39]:
neg_label

,content,following,followers,updates,new_june_2018,retweet,account_type__Commercial,account_type__Ebola,account_type__French,account_type__German,...,region__United States,region__Unknown,post_type_RETWEET,account_cat_Fearmonger,account_cat_HashtagGamer,account_cat_LeftTroll,account_cat_NewsFeed,account_cat_NonEnglish,account_cat_RightTroll,account_cat_Unknown
0,Diamond Xara Ring now available �� https://t.c...,2499,2866,9718,0,1,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
1,“The Law Student’s Guide to Pursuing a Career ...,847,912,1633,0,1,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
2,Inmate who died at Fairfax jail identified htt...,4744,2823,3927,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
3,#ChristmasAftermath I obviously have to go to gym,3245,2838,3390,0,1,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
4,Clinton Recognized for Child Advocacy https://...,7045,19671,40534,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25459,Child remembers getting to shop with fallen of...,5704,18571,6420,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
25460,�� #Dems4Trump This election isn't about Repu...,1273,1888,2682,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
25461,http://t.co/jRyIAip0LQ Just doen a delts and t...,2,278,20098,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25462,Tupac Shakur Inducted Into The Rock And Roll H...,675,726,4197,0,1,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0
25463,Working on the #Olluminati Mixtape. Coming Jul...,309,779,8387,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [40]:
neg_label = neg_label['content']

In [41]:
neg_label = pd.DataFrame(neg_label)

In [42]:
neg_label['content'] = neg_label['content'].str.split("https").str[0]

In [43]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for char in spec_chars:
    neg_label['content'] = neg_label['content'].str.replace(char, ' ')

In [44]:
neg_label['content'] = neg_label['content'].str.split().str.join(" ")

In [42]:
# neg_label.to_csv('neg_label.csv')

In [45]:
corr_mat = master.corr()

In [ ]:
import seaborn as sns
sns.heatmap(corr_mat['account_cat_RightTroll'])

In [52]:
corr_mat['account_cat_LeftTroll']

following                           -0.186207
followers                           -0.205464
updates                             -0.199614
new_june_2018                       -0.146288
retweet                              0.424516
account_type__Commercial            -0.118444
account_type__Ebola                 -0.002865
account_type__French                -0.002865
account_type__German                -0.020472
account_type__Hashtager             -0.176509
account_type__Italian               -0.014715
account_type__Koch                  -0.035609
account_type__Portuguese            -0.000484
account_type__Russian               -0.050905
account_type__Spanish               -0.003044
account_type__ZAPOROSHIA            -0.004491
account_type__left                   1.000000
account_type__local                 -0.262057
account_type__news                  -0.131899
account_type__right                 -0.354596
region__Azerbaijan                  -0.029934
region__Belarus                     -0.007534
region__Canada                       0.010347
region__Czech Republic              -0.000484
region__Egypt                       -0.002540
region__Finland                     -0.000969
region__France                      -0.002761
region__Germany                     -0.012269
region__Greece                      -0.001281
region__Hong Kong                   -0.000342
region__Iran, Islamic Republic of   -0.001531
region__Iraq                        -0.007337
region__Israel                      -0.006728
region__Italy                       -0.011489
region__Latvia                      -0.000593
region__Malaysia                    -0.000685
region__Mexico                      -0.002193
region__Russian Federation          -0.011539
region__Serbia                      -0.000484
region__Spain                       -0.002906
region__Ukraine                     -0.005205
region__United Arab Emirates        -0.006596
region__United Kingdom              -0.043694
region__United States                0.170828
region__Unknown                     -0.159166
post_type_RETWEET                    0.419893
account_cat_Fearmonger              -0.036010
account_cat_HashtagGamer            -0.176509
account_cat_LeftTroll                1.000000
account_cat_NewsFeed                -0.312341
account_cat_NonEnglish              -0.058165
account_cat_RightTroll              -0.354596
account_cat_Unknown                 -0.006443
Name: account_cat_LeftTroll, dtype: float64

In [53]:
import pandas as pd
import regex as re

In [54]:
df = pd.read_csv('pos_label.csv')

In [55]:
df

      Unnamed: 0                                            content
0              0  Donald Trump vs Hillary Clinton Debate Cold Op...
1              1  realDonaldTrump The need is to blow off the mo...
2              2  US Medien Trump zahlte womöglich jahrelang kei...
3              3  amjoy cnn msnbc Trump has 2 words for deplorables
4              4  and you people who can t good old boy loans an...
...          ...                                                ...
7573        7573  Since 1986 2016 30Years 20Years Republican Adm...
7574        7574  Onlooker repeatedly yells ‘Bill Clinton is a r...
7575        7575  I m having a very hard time right now in sever...
7576        7576  Between trump Giuliani Ailes they have 10 divo...
7577        7577  Larry David brings Bernie Sanders back to ‘SNL...

[7578 rows x 2 columns]

In [56]:
df= pd.DataFrame(df['content'])

In [57]:
df

                                                content
0     Donald Trump vs Hillary Clinton Debate Cold Op...
1     realDonaldTrump The need is to blow off the mo...
2     US Medien Trump zahlte womöglich jahrelang kei...
3     amjoy cnn msnbc Trump has 2 words for deplorables
4     and you people who can t good old boy loans an...
...                                                 ...
7573  Since 1986 2016 30Years 20Years Republican Adm...
7574  Onlooker repeatedly yells ‘Bill Clinton is a r...
7575  I m having a very hard time right now in sever...
7576  Between trump Giuliani Ailes they have 10 divo...
7577  Larry David brings Bernie Sanders back to ‘SNL...

[7578 rows x 1 columns]

In [58]:
df['content'] = df['content'].str.split("https").str[0]

In [59]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for char in spec_chars:
    df['content'] = df['content'].str.replace(char, ' ')

In [61]:
df['content'] = df['content'].str.split().str.join(" ")

In [62]:
df

                                                content
0     Donald Trump vs Hillary Clinton Debate Cold Op...
1     realDonaldTrump The need is to blow off the mo...
2     US Medien Trump zahlte womöglich jahrelang kei...
3     amjoy cnn msnbc Trump has 2 words for deplorables
4     and you people who can t good old boy loans an...
...                                                 ...
7573  Since 1986 2016 30Years 20Years Republican Adm...
7574  Onlooker repeatedly yells ‘Bill Clinton is a r...
7575  I m having a very hard time right now in sever...
7576  Between trump Giuliani Ailes they have 10 divo...
7577  Larry David brings Bernie Sanders back to ‘SNL...

[7578 rows x 1 columns]

In [51]:
# df.to_csv('pos_label.csv')

In [63]:
import pandas as pd
import numpy as np

In [64]:
pos_label = pd.read_csv('pos_label.csv')
neg_label = pd.read_csv('neg_label.csv')

In [65]:
pos_label.columns

Index(['Unnamed: 0', 'content'], dtype='object')

In [66]:
pos_label.drop(['Unnamed: 0'],axis =1,inplace=True)
neg_label.drop(['Unnamed: 0'],axis =1,inplace=True)

In [67]:
pos_label['troll'] = 1
neg_label['troll'] = 0

In [68]:
pos_label

                                                content  troll
0     Donald Trump vs Hillary Clinton Debate Cold Op...      1
1     realDonaldTrump The need is to blow off the mo...      1
2     US Medien Trump zahlte womöglich jahrelang kei...      1
3     amjoy cnn msnbc Trump has 2 words for deplorables      1
4     and you people who can t good old boy loans an...      1
...                                                 ...    ...
7573  Since 1986 2016 30Years 20Years Republican Adm...      1
7574  Onlooker repeatedly yells ‘Bill Clinton is a r...      1
7575  I m having a very hard time right now in sever...      1
7576  Between trump Giuliani Ailes they have 10 divo...      1
7577  Larry David brings Bernie Sanders back to ‘SNL...      1

[7578 rows x 2 columns]

In [69]:
master = pd.concat([pos_label,neg_label])
master

                                                 content  troll
0      Donald Trump vs Hillary Clinton Debate Cold Op...      1
1      realDonaldTrump The need is to blow off the mo...      1
2      US Medien Trump zahlte womöglich jahrelang kei...      1
3      amjoy cnn msnbc Trump has 2 words for deplorables      1
4      and you people who can t good old boy loans an...      1
...                                                  ...    ...
25459     The Top 5 Headphones For Home Studio Recording      0
25460  Barkley And Shaq Argue About Embiid Not Making...      0
25461  Libyan forces battling Islamic State in Sirte ...      0
25462       This is how Tesla stock is starting the week      0
25463  Gillibrand and Collins Join Forces to Block Tr...      0

[33042 rows x 2 columns]

In [70]:
master.dropna(inplace=True)

In [71]:
master

                                                 content  troll
0      Donald Trump vs Hillary Clinton Debate Cold Op...      1
1      realDonaldTrump The need is to blow off the mo...      1
2      US Medien Trump zahlte womöglich jahrelang kei...      1
3      amjoy cnn msnbc Trump has 2 words for deplorables      1
4      and you people who can t good old boy loans an...      1
...                                                  ...    ...
25459     The Top 5 Headphones For Home Studio Recording      0
25460  Barkley And Shaq Argue About Embiid Not Making...      0
25461  Libyan forces battling Islamic State in Sirte ...      0
25462       This is how Tesla stock is starting the week      0
25463  Gillibrand and Collins Join Forces to Block Tr...      0

[32564 rows x 2 columns]

In [72]:
master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32564 entries, 0 to 25463
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   content  32564 non-null  object
 1   troll    32564 non-null  int64
dtypes: int64(1), object(1)
memory usage: 763.2+ KB

In [73]:
df = master.sample(frac=1,random_state=24)

In [74]:
df

                                                 content  troll
3670                                                   💩      1
15401  Why would Hillary Clinton—who holds public and...      0
8048   Manni syd this is my late son Killed by illega...      0
6923                                             Awesome      1
21263  CRAZY A 14 yr old child who can t pay a small ...      0
...                                                  ...    ...
12698  ↔NO VENEZUELAN COUP↔ DOJ FBI amp Congress😠look...      0
17784  politics Melania Trump Donald Treats Women the...      0
7344   SHOCK STAT Why is California Spending $76k Per...      0
934    Hillary Clinton tweets late night swipe at Don...      1
5513   When you think too much you remove what s movi...      0

[32564 rows x 2 columns]

In [75]:
df['content'] = df['content'].astype(str)
df['content'] = df['content'].str.lower()

In [76]:
df['content'] = df['content'].str.replace('\d+', '')
df['content'] = df['content'].str.split().str.join(" ")

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32564 entries, 3670 to 5513
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   content  32564 non-null  object
 1   troll    32564 non-null  int64
dtypes: int64(1), object(1)
memory usage: 763.2+ KB

In [78]:
df

                                                 content  troll
3670                                                   💩      1
15401  why would hillary clinton—who holds public and...      0
8048   manni syd this is my late son killed by illega...      0
6923                                             awesome      1
21263  crazy a yr old child who can t pay a small fin...      0
...                                                  ...    ...
12698  ↔no venezuelan coup↔ doj fbi amp congress😠look...      0
17784  politics melania trump donald treats women the...      0
7344   shock stat why is california spending $k per y...      0
934    hillary clinton tweets late night swipe at don...      1
5513   when you think too much you remove what s movi...      0

[32564 rows x 2 columns]

In [79]:
df.to_csv('troll_data.csv')

In [80]:
df['troll'].sum()/df.shape[0]

0.22202432133644515

In [81]:
import numpy as np 
import random  
import pandas as pd 
import matplotlib.pyplot as plt
#from google.colab import files
#data_to_load = files.upload()

In [82]:

df = pd.read_csv('troll_data.csv',index_col='Unnamed: 0')
#df=pd.read_csv("troll_data.csv",index_col='Unnamed: 0')

In [83]:
df.head()

                                                 content  troll
3670                                                   💩      1
15401  why would hillary clinton—who holds public and...      0
8048   manni syd this is my late son killed by illega...      0
6923                                             awesome      1
21263  crazy a yr old child who can t pay a small fin...      0

In [84]:
df.columns

Index(['content', 'troll'], dtype='object')

In [86]:
def standardize_text(df, content_field):
    df[content_field] = df[content_field].str.replace(r"http\S+", "")
    df[content_field] = df[content_field].str.replace(r"http", "")
    df[content_field] = df[content_field].str.replace(r"@\S+", "")
    df[content_field] = df[content_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
    df[content_field] = df[content_field].str.replace(r"@", "at")
    df[content_field] = df[content_field].str.lower()
    return df

In [87]:
df = standardize_text(df, "content")

In [88]:
df.head()

                                                 content  troll
3670                                                          1
15401  why would hillary clinton who holds public and...      0
8048   manni syd this is my late son killed by illega...      0
6923                                             awesome      1
21263  crazy a yr old child who can t pay a small fin...      0

In [89]:
import string
import itertools
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk import word_tokenize, FreqDist
from nltk.corpus import stopwords
from wordcloud import WordCloud, STOPWORDS

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ADITYA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ADITYA\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [90]:
#Additional cleaning with stopwords
stopwords_list = stopwords.words('english') + list(string.punctuation)
stopwords_list += ["''", '""', '...', '``']

In [91]:
#Tokenizing and removing stopwords
def process_content(data):
    tokens = word_tokenize(data)
    stopwords_removed = [token for token in tokens if token not in stopwords_list]
    return stopwords_removed   

df['tokens'] = df['content'].apply(process_content)
df['text'] = df['tokens'].apply(' '.join)

In [92]:
df.head()

,content,troll,tokens,text
3670,,1,[],
15401,why would hillary clinton who holds public and...,0,"[would, hillary, clinton, holds, public, priva...",would hillary clinton holds public private pos...
8048,manni syd this is my late son killed by illega...,0,"[manni, syd, late, son, killed, illegal, build...",manni syd late son killed illegal build wall
6923,awesome,1,[awesome],awesome
21263,crazy a yr old child who can t pay a small fin...,0,"[crazy, yr, old, child, pay, small, fine, cour...",crazy yr old child pay small fine court end ad...

In [93]:
## review tokens in more detail
word_tot = [word for tokens in df['tokens'] for word in tokens]
word_unique = set(word_tot)
tweet_len = [len(tokens) for tokens in df['tokens']]

print('{} total words with a vocabulary size of {}'.format(len(word_tot), len(word_unique)))
print('Maximum sentence length is {}'.format(max(tweet_len)))

278511 total words with a vocabulary size of 44039
Maximum sentence length is 55

Tokenizing is done

In [96]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
import gensim
from gensim.models.word2vec import Word2Vec

In [98]:
#Define X and y
X = np.array(df.tokens)
y = np.array(df.troll)

#Create Train/Validate/Test data splits
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, train_size=0.8, random_state=40)

In [99]:
#labelize tweets
from tqdm import tqdm
LabeledSentence = gensim.models.doc2vec.LabeledSentence
tqdm.pandas(desc="progress-bar") #estimate time to completion

#return labelized tweets
def labelizeTweets(tweets, label_type):
    labelized = []
    for i,v in tqdm(enumerate(tweets)):
        label = '%s_%s'%(label_type,i)
        labelized.append(LabeledSentence(v, [label]))
    return labelized

#split labelized tweets by train/test/split data
X_train = labelizeTweets(X_train, 'TRAIN')
X_val = labelizeTweets(X_val, 'VALIDATE')
X_test = labelizeTweets(X_test, 'TEST')

20840it [00:00, 26058.71it/s]
5211it [00:00, 61565.40it/s]
6513it [00:00, 76402.76it/s]

In [100]:
#Build the Word2Vec Model
tweet_w2v = Word2Vec(size=200, window = 5, min_count=10, workers=4) #initialize model
tweet_w2v.build_vocab([x.words for x in tqdm(X_train)]) #create vocabulary
tweet_w2v.train([x.words for x in tqdm(X_train)], total_examples=tweet_w2v.corpus_count, epochs=2) #train model

100%|███████████████████████████████████████████████████████████████████████| 20840/20840 [00:00<00:00, 1317000.08it/s]
100%|████████████████████████████████████████████████████████████████████████| 20840/20840 [00:00<00:00, 492849.34it/s]

(226697, 355754)

In [101]:
# Create tf-idf matrix
vectorizer = TfidfVectorizer(analyzer=lambda x: x, min_df=10)
matrix = vectorizer.fit_transform([x.words for x in X_train])
tfidf = dict(zip(vectorizer.get_feature_names(), vectorizer.idf_))
print('vocab size :', len(tfidf))

vocab size : 3041

In [102]:
def buildWordVector(tokens, size):
    vec = np.zeros(size).reshape((1, size))
    count = 0.
    for word in tokens:
        try:
            vec += tweet_w2v[word].reshape((1, size)) * tfidf[word]
            count += 1.
        except KeyError: # handling the case where the token is not
                         # in the corpus. useful for testing.
            continue
    if count != 0:
        vec /= count
    return vec

In [103]:
#Convert into vector and scale
from sklearn.preprocessing import scale
train_vecs_w2v = np.concatenate([buildWordVector(z, 200) for z in tqdm(map(lambda x: x.words, X_train))])
train_vecs_w2v = scale(train_vecs_w2v)

val_vecs_w2v = np.concatenate([buildWordVector(z, 200) for z in tqdm(map(lambda x: x.words, X_val))])
val_vecs_w2v = scale(val_vecs_w2v)

test_vecs_w2v = np.concatenate([buildWordVector(z, 200) for z in tqdm(map(lambda x: x.words, X_test))])
test_vecs_w2v = scale(test_vecs_w2v)

20840it [00:05, 4009.86it/s]
5211it [00:01, 3672.92it/s]
6513it [00:01, 3373.50it/s]

In [104]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=1000, verbose=True)

In [105]:
classifier.fit(train_vecs_w2v,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

KeyboardInterrupt:

In [ ]:
y_pred = classifier.predict(val_vecs_w2v)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
accuracy_score(y_val,y_pred)

In [ ]:
report = classification_report(y_val,y_pred)
print(report)

In [ ]:
from sklearn.svm import SVC
classifier2 = SVC(verbose=True)

In [ ]:
classifier2.fit(train_vecs_w2v, y_train)

In [ ]:
y_pred2 = classifier2.predict(val_vecs_w2v)

In [ ]:
accuracy_score(y_val,y_pred2)

In [106]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
from sklearn.utils import resample
from sklearn.utils import shuffle
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
# from sklearn.ensemble import RandomForestClassifier

In [131]:
#Define X and y
X = np.array(df.tokens)
y = np.array(df.troll)

In [132]:
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(X)
X = tokenizer.texts_to_sequences(X)
X=np.array(X)

In [133]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size = 0.20, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(26051,) (26051,)
(6513,) (6513,)

In [139]:
X = pad_sequences(X)

Y = pd.get_dummies(df.troll).values

In [140]:
max_fatures=200
embed_dim = 128
lstm_out = 196

model = Sequential()
model.add(Embedding(max_fatures, embed_dim,input_length = X.shape[1]))
model.add(SpatialDropout1D(0.4))
model.add(LSTM(lstm_out, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
print(model.summary())

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 16, 128)           25600
_________________________________________________________________
spatial_dropout1d_1 (Spatial (None, 16, 128)           0
_________________________________________________________________
lstm_1 (LSTM)                (None, 196)               254800
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 394
=================================================================
Total params: 280,794
Trainable params: 280,794
Non-trainable params: 0
_________________________________________________________________
None

In [142]:
batch_size = 128
NoOfEpochs = 30
model.fit(X_train, Y_train, epochs = NoOfEpochs, batch_size=batch_size, verbose = 1)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type list).

In [ ]:
Y_pred = model.predict_classes(X_test,batch_size = batch_size)
df_test = pd.DataFrame({'true': Y_test.tolist(), 'pred':Y_pred})
df_test['true'] = df_test['true'].apply(lambda x: np.argmax(x))
print(classification_report(df_test.true, df_test.pred))